
*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Poppins-Bold.ttf";
    src: url('Poppins-Bold.ttf');
}

body{
    font-family: 'Poppins-Bold.ttf';
    background: #ffffff;
}



.colorpicker{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    color: #04012c;
}
main{
    width: 100%;
   height: 80vh;
   display: flex;
}
input[type="color"]
{
    width: 100px;
    height: 30px;
}

input[type="color"]:hover{
    cursor: pointer;
}
.container{

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alarm{
    display: none;
}
.time_{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
   
    
}


.title{
    display: none;
}

 h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
h2{
    color: white;
}

#customize{
    text-align:center;
    font-size: 20px;
    width: 200px;
    height: auto;
    height: 50px;
    cursor: pointer;
}
button{
    cursor: pointer;
    padding: 5px;
    min-width: 50px;
    color: white;
    border: navajowhite;
    background: #00871d;
    border-radius: 5px;
}
#alarm_{
    display: flex;
    gap: 10px;
}

p{
    color: antiquewhite;
    font-size: 20px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    width: 50px;
    outline: none;

}
nav{
    padding: 12px;
    box-sizing: border-box;
    height: 100px;
    background: #04012c;
    box-shadow: 2px 2px 10px white;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width:450px) {
    .bg h1{
        font-size: 40px;
    }
    
}



 
/* error alert styles */
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alert-content {
    position: relative;
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .alert h1{
    font-size: 20px;
    padding: 12px;
    color: rgb(227, 62, 62);
  
  }
  .close-btn img {
    width: 25px;
    height: 25px;
  }
  
  .message{
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: 100px;
    box-sizing: border-box;
    background: #53de43;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }

  .showAlarm{
    margin-top: 20px;
  }

